@page
@model RestauranteWEB.Pages.Proveedores.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminarlo?</h3>
<div>
    <h4>Proveedores</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores.NombreEmpresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.NombreEmpresa)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores.Contacto)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.Contacto)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores.Telefono)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.Telefono)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores.Email)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.Email)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Proveedores.Direccion)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Proveedores.Direccion)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Proveedores.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>


