@page
@model RestauranteWEB.Pages.Ingrediente.DeleteModel
@{
    ViewData["Title"] = "Delete";
}

<h1>Eliminar</h1>

<h3>Estas seguro que quieres eliminarlo?</h3>
<div>
    <h4>Ingredientes</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes.NombreI)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes.NombreI)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes.CantidadDisponible)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes.CantidadDisponible)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes.UnidadMedida)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes.UnidadMedida)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Ingredientes.PrecioUnitario)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Ingredientes.PrecioUnitario)
        </dd>
    </dl>

    <form method="post">
        <input type="hidden" asp-for="Ingredientes.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" />
        <a asp-page="./Index" class="btn btn-primary">Back to List</a>
    </form>
</div>
